.app {
  text-align: center;
}

.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.appHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.appTitle {
  width: 100%;
  float: left;
  padding-left: 20px;
  color:rgb(5, 93, 207);
  font-family: 'Permanent Marker', cursive;
  font-size: 6vh;
}

.appIntro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bodyThree {
  content: "";
  display: flex;
  clear: both;
  width: 100%;
  height: 75vh;
}

.bodyTwo {
  height:80vh;
  background-image: url("./background5.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top;
}
