.logo {
  grid-column: 2 / 3;
  align-self: center;
  justify-self: left;
}

.inputForm{
  grid-column: 4 / 6;
  align-self: center;
  justify-self: left;

}

.container{
  display: grid;
  grid-template-columns: auto 15vw 15vw 15vw 15vw auto;
  grid-template-rows: 75vh;
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
}

